<h1>Boost It</h1>

<h1>Hello <%= @user.name %>!</h1>

<p>
Your host <%= current_user.name.capitalize %>, has shared with you his personal tips so that you can have a wonderful trip.
To discover them just, just click on the following link:
</p>

<h3>@user.invite_url</h3>

<p>Start your boosted experience now!</p>
