<h1>Hello <%= @user.first_name %>!</h1>

<p>
Your host, has shared with you his personal tips so that you can have a wonderful trip.
To discover them just, click on the following link:
</p>

<%= link_to "Start your boosted experience now!", @user.invite_url %>
