<ul>Your guests
<% @guests.each do |guest| %>
<% if List.find(guest.list_id).user_id == current_user.id %>
<li><%= User.find(guest.user_id).email %>
<%= link_to "share lists", guests_show_path({guest_user_id: guest.user_id}) %></li>
<% end %>
<% end %>
</ul>
<%= link_to "add guest", guests_invite_path %>

