<div class="banner-home">

  <div class="home-container">
    <h1>Boost your guest experience without the hassle</h1>
    <h2>Build a personalised website for every guest <strong>in minutes</strong> with curated content</h2>
    <button class="main-button" ><%= link_to "Start now", lists_path  %></button>
  </div>

</div>

