
<div class="primera-section-home">
  <div class="home-container">
    <h2>Get better reviews</h2>
    <p>
      Boost your AirBnb guest's satisfaction by offering the a delighting experience.
    </p>
    <button class="main-button-home" ><%= link_to "Start now", lists_path  %></button>
  </div>
</div>

<div class="customers-section-home">
  <div class="home-container">
    <h2>More customers</h2>
    <p>
      Boost your AirBnb guest's satisfaction by offering the a delighting experience.
    </p>
  </div>
</div>

<div class="boost-section-home">
  <div class="home-container">
    <h2>Delight customers</h2>
    <p>
      Boost your AirBnb guest's satisfaction by offering the a delighting experience.
    </p>
  </div>
</div>

<div class="banner-home">
  <div class="home-container">
    <h1>Boost your guest experience</h1>
    <p2>Personalised digital experiences for every guest <strong>in minutes</strong></p2>
  </div>
</div>

