<div class="primera-section-home">
  <div class="home-container">
    <h1>Boost-it</h1>
    <h2>Get better reviews</h2>
    <p>
      Boost your guest's satisfaction by offering them a delighting experience.
    </p>
    <button class="main-button-home" ><%= link_to "Start Now", lists_path  %></button>
  </div>
</div>

<div class="customers-section-home">
  <div class="home-container">
    <h2>Share experiences</h2>
    <p>
      Share curated list of local tips to boost your guest experience. Start Sharing.
    </p>
  </div>
</div>

<div class="boost-section-home">
  <div class="home-container">
    <h2>Delight customers</h2>
    <p>
      Boost your guest's satisfaction by offering them a taylor made experience. Learn More.
    </p>
  </div>
</div>

<div class="last-section-home">
  <div class="home-container">
    <h2>Boost your guest experience</h2>
    <button class="main-button-home-last" ><%= link_to "Start Now", lists_path  %></button>
    <br>
    <br>
    <br>
    <p>Already have an account? </p>
      <%= link_to "Sign in", new_user_session_path %>
  </div>
</div>

