<div class="banner-home">

  <div class="web-container">
    <h1>Boost your guest experience without the hassle</h1>
    <p>Build a personalised website for every guest in minutes with curated content</p>
    <button class="main-button">Start now</button>
  </div>

</div>
