.banner-home {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?cs=srgb&dl=woman-wearing-pink-collared-half-sleeved-top-1036623.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
