#toogle-map {
  background-color: #ffffff;
  border-radius: 12px;
  font-size: 14px;
  height: 24px;
  // width: 108px;
  color: #000000;
  // border: solid;
  border-color: #000000;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 12px;
  // border-width: .5px;
  margin-top: 8px;
  font-size: 20px;
  color: black;
}



#toogle-map-all-tips-index {
  background-color: #ffffff;
  border-radius: 12px;
  font-size: 14px;
  height: 24px;
  // width: 108px;
  color: #000000;
  // border: solid;
  border-color: #000000;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 12px;
  // border-width: .5px;
  margin-top: 8px;
  font-size: 20px;
  color: #9e005e8c;
}

#toogle-map-lists-show {
  background-color: #ffffff;
  border-radius: 12px;
  font-size: 14px;
  height: 24px;
  // width: 108px;
  color: #000000;
  // border: solid;
  border-color: #000000;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 12px;
  // border-width: .5px;
  margin-top: 8px;
  font-size: 20px;
  color: #9e005e8c;
}

#toogle-info {
  background-color: #ffffff;
  border-radius: 12px;
  font-size: 14px;
  height: 24px;
  // width: 108px;
  color: #000000;
  // border: solid;
  border-color: #000000;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 12px;
  // border-width: .5px;
  margin-top: 8px;
  font-size: 20px;
  color: #9e005e8c;
}
