.guest-card h3 {
  font-size: 24px;
  margin: 2px;
}

.guest-card {
    border: solid 0.5px;
    padding: 1px;
    padding: 10px;
    border-color: #80808040;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 18px;

}

.guest-card p {
  margin-bottom: 0px;
}

.lists-shared {
  text-align: center;
  align-items: center;
}

.number-of-lists {
  background: none;
  border-bottom: solid 2px #9E005E;
  font-size: 30px;
}



.user-lists a {
  text-decoration: none;
  color: black;
}
