.home-container {
  width: 90%;
  margin: 0px auto;
  padding-top: 25px;
}

.home-container h1 {
  font-size: 54px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  line-height: 53px;
  text-align: left;
  color: white;
}

.home-container h2 {
  font-size: 22.5px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  color: white;
  text-align: left;
  margin-top: 30px;
}

.home-container p {
  // position: absolute;
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: white;
}
