.list-card {
  background-color: grey;
  display: flex;
  height: 125px;
  background-size: cover;
  background-position: center;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  color: white;
  margin-top: 5px;
}

.list-card h2 {
  font-family: Open-sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none !important;
  padding-top: 10px;

}

.list-card ul {

  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.list-card a {

  color: white;

}


// .list-card-guests {
//   background-color: white;
//   display: -webkit-box;
//   display: flex;
//   height: 125px;
//   background-size: cover;
//   background-position: center;
//   justify-content: center;
//   border-radius: 5px;
//   align-items: center;
//   color: black;
//   margin-top: 5px;
//   border: 1px solid #000000;
//   text-align: left;
//   margin-top: 15px;
// }

.list-card-review {
  margin-top: 0px;
}
