.logotype{
 font-size: 22px;
  font-family: Futura;
  font-style: normal;
  font-weight: 100;
  line-height: 39px;
  text-align: left;
  color: black;
  margin-top: 0px;
  padding-bottom: 23px;
  position: sticky;
  right: 87%;
  margin: 5px 5px;
  list-style-type: none;
}
