.logotype{
 font-size: 22px !important;
  font-family: Futura !important;
  font-weight: 100 !important;
  text-align: left !important;
  color: black !important;
  padding-bottom: 23px !important;
}
