// .main-button{
//   border-radius: 45px;
//   color: white;
//   background-color: #9E005E;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   padding-left: 75px;
//   padding-right: 75px;
//   margin-top: 50px;
//   margin-bottom: 50px;
//   text-align: center;
//   border: none;
//   text-decoration: none;
// }


.main-button {
    border-radius: 45px;
    color: #000000;
    background-color: #000000;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 75;
    /* padding-right: 75px; */
    margin-top: 29px;
    margin-bottom: 50px;
    text-align: center;
    border: none;
    text-decoration: none;
    /* border-color: black; */
    width: 75%;
}

.main-button-home {
    border-radius: 45px;
    color: #000000;
    background-color: #9E005E;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 75;
    /* padding-right: 75px; */
    margin-top: 29px;
    margin-bottom: 50px;
    margin-left: 25%;
    text-align: center;
    border: none;
    text-decoration: none;
    /* border-color: black; */
    width: 50%;
    letter-spacing: 1px;
}

.main-button-home-last {
    border-radius: 45px;
    color: #000000;
    background-color: #000000;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 75;
    /* padding-right: 75px; */
    margin-top: 29px;
    margin-bottom: 50px;
    margin-left: 25%;
    text-align: center;
    border: none;
    text-decoration: none;
    /* border-color: black; */
    width: 50%;
    letter-spacing: 1px;
}
