#map {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

#show-info {
  display: block;
}


#map-list {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 5px;
}


#toogle-map-lists-show {

  padding-bottom: 2px;


}



.fas {

  margin-top: 2px;

  }

