#map {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

#show-info {
  display: block;
}


#map-list {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 5px;
}


element.style {
    color: #9E005E;
}

#toogle-map-lists-show {
  padding-bottom: 2px;
}


