.navbar-lewagon {
  position: fixed;
  justify-content: center;
  bottom: 0;
  background: white;
  width: 100%;
  overflow: hidden;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
