.pill-category {
  color: white;
  background-color: #F78154;
  border-radius: 12px;
  font-size: 14px;
  height: 24px;
  width: 30%;
  text-align: center;
  position: absolute;
  top: 6%;
  right: 4%;
  margin-top: 16px;
}

.pill-category-tips-index {
  color: white;
  background-color: #F78154;
  border-radius: 12px;
  font-size: 14px;
  height: 24px;
  width: 30%;
  text-align: center;
  position: absolute;
  top: 10%;
  right: 4%;
}


