
.boost-section-home {
  // background-color: #fd5f60;
  // 2nd option
  background-color: #4D9078;
  background-position: center;
  height: 50vh;
  width: 100vw;

  h2 {
      font-size: 59px;
      line-height: 59px;
      font-weight: bold;
      text-align: left;
      margin: 0;
      padding-top: 12px;
  }

  p {
    text-align: left;
    margin: 0;
    padding-top: 12px;
  }
}

.primera-section-home {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.35)), url("https://images.pexels.com/photos/1848565/pexels-photo-1848565.jpeg?cs=srgb&dl=photo-of-woman-sitting-on-stairs-1848565.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;;
  width: 100vw;
  background-position-x: 87px;

  h2 {
    font-size: 59px;
    line-height: 59px;
    font-weight: bold;
    text-align: left;
  }

  p {
    text-align: left;

  }

  a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  font-size:22.5px;
  }
}

.customers-section-home {
  // background-color: #fd5f60;
  // 2nd option
  background-color: #FFCD02;
  background-position: center;
  height: 50vh;
  width: 100vw;
  padding-top: 15px;

  h2 {
      font-size: 64px;
      line-height: 52px;
      font-weight: bold;
      text-align: right;
      margin: 0;
      padding-top: 12px;
  }

  p {
    text-align: right;
    margin: 0;
    padding-top: 12px;
  }
}

.last-section-home {
  // background-color: #fd5f60;
  // 2nd option
  background-color: #D81E5B;
  background-position: center;
  height: 70vh;
  width: 100vw;
  padding-top: 15px;

  h2 {
    font-size: 59px;
    line-height: 59px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 20px;
  }

  p {
    text-align: center;

  }

  a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22.5px;
  }

  #sign-in {
    font-size: 18px;
  }
}
