.card-product {
  overflow: hidden;
  height: 300px;
  background: white;
  // display: flex;
  align-items: center;
}

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  overflow-wrap: break-word;
  width: 100%;
  }

.card-product .card-product-infos {
  padding: 16px;
}

.copy-link-button {
  border-radius: 17px;
  color: black;
  background-color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  text-decoration: none;
  border: solid;
  border-color: #9E005E;
  border-width: 1px;
}
