

.show-container {
  width: 90%;
  margin: 0px auto;
  padding-top: 25px;
  padding-bottom: 0px;
}

.show-container h1 {
  font-size: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
}

.show-container h2 {
  font-size: 22.5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
}

.show-container p {
  // position: absolute;
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

#p2 {
  // position: absolute;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

#h1-show {
  text-align: left;
  margin-bottom: 0px;
}

#p-centered {
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}


.stars {

      margin-left: 217px;
}

#show-info {

  p {
     margin-bottom: 0px;
  }
}
