.take-me-there-button {
  border-radius: 45px;
  color: black;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 5px;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: none;
  border: solid;
  border-color: #9E005E;
  border-width: 1px;
  &:hover {
    color: black;
    background-color: #9e005e54;
  }
}

.add-button-show-map {

  border-radius: 45px;
  color: black;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: none;
  border: solid;
  border-color: #9E005E;
  border-width: 1px;
  margin-left: 81px;
  margin-right: 89px;


}
