.take-me-there-button {
  border-radius: 30px;
  color: white;
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 25px;
  text-decoration: none;
  border: none;
}
