.take-me-there-button {
  border-radius: 4px;
  color: white;
  background-color: #9E005E;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 25px;
  text-decoration: none;
}
