.tips-index-links {
  text-decoration: none;
}

.t-none {
  color: black;
  text-decoration: none;
}

.relative {
  position: relative;
}

.absolute-0-0 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
