.web-container {
  width: 90%;
  margin: 25px auto;

}

.web-container h1 {
  font-size: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
}

.web-container h2 {
  font-size: 22.5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
}

.web-container p {
  // position: absolute;
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}


#h1-show {
  text-align: left;
}


